19-n8n/workflows/13. AI 에이전트 - MCP.json
{
  "name": "13. AI 에이전트 - MCP",
  "nodes": [
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -208,
        -256
      ],
      "id": "b7476799-ca27-4faa-97ea-aecd0e63abee",
      "name": "When chat message received",
      "webhookId": "78c53edd-0ff8-42e7-851a-8777479f87b2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        -256
      ],
      "id": "ea86e42f-baae-410a-84c5-f7dd79f35b8b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        -48
      ],
      "id": "77beb8a9-fcd1-45ac-b75c-0da5ef9b4051",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ugMNFjqYLZ81em2y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        -48
      ],
      "id": "c2dae9c4-165a-4169-ba33-30cbf2fed8d0",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://nissisoft21.app.n8n.cloud/mcp-test/12279190-8c79-47e2-aa7b-1f43884d914e"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        240,
        -64
      ],
      "id": "69dbe448-90ee-45fd-b031-fd33707c7072",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "path": "12279190-8c79-47e2-aa7b-1f43884d914e"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        80,
        96
      ],
      "id": "d9f8df0a-f8e5-4316-9cbb-0491d4e9e0b1",
      "name": "MCP Server Trigger",
      "webhookId": "12279190-8c79-47e2-aa7b-1f43884d914e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        336,
        208
      ],
      "id": "4cbf0757-f624-4328-b8f6-9c459665f8bd",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "yUTzhbI2A2mHeZiD",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "웹 검색기능을 n8n의 MCP기능으로 제공한다."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        128
      ],
      "id": "4ccb1cb2-6a4f-4e3a-b751-d9336e446ca9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        352,
        -256
      ],
      "id": "f7a37d84-e201-45c8-b1bb-0e0c99f7048f",
      "name": "Respond to Chat"
    },
    {
      "parameters": {
        "endpointUrl": "https://nissisoft21.app.n8n.cloud/mcp-test/12279190-8c79-47e2-aa7b-1f43884d914e"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        400,
        -64
      ],
      "id": "45aaa3a7-6af1-4f1b-b729-5c359ab16263",
      "name": "MCP Client1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00679f98-e1f0-41cc-b388-87386016c047",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7677542f30a1fd6c4c70a150414e98931044fc4dfd46655e6a9105a3cb936e6"
  },
  "id": "dI2eRC6KCyjDMjML",
  "tags": []
}