19-n8n/workflows/15. AI 에이전트 - Outpu Parser.json
{
  "name": "15. AI 에이전트 - Outpu Parser",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        -64
      ],
      "id": "cb4cb20d-3132-4361-a315-7bd8abeea70f",
      "name": "When chat message received",
      "webhookId": "e7636843-f9e4-436c-b28b-18677ce94123"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -64
      ],
      "id": "9b6ad1cb-577c-44eb-8611-70b128e03a6f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        176
      ],
      "id": "34067a50-dc58-4770-bb10-89b9a01f0c5a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "F5nbHJEYn1X5o4hy",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"줌 회의\",\n  \"datetime\": \"2025-05-14T10:00:00+09:00\",\n  \"location\": \"Zoom\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        80
      ],
      "id": "a21486c1-209f-4ae7-abd6-db581d5d388f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        288,
        176
      ],
      "id": "cf61a2c8-f5e3-4808-a7ed-14de57e114b0",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "yUTzhbI2A2mHeZiD",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4664126c-8d3c-4151-baf6-f12099910b7b",
              "name": "output.title",
              "value": "={{ $json.output.title }}",
              "type": "string"
            },
            {
              "id": "9d2077e1-e11f-4ba2-877f-894eb3b7e0ca",
              "name": "output.datetime",
              "value": "={{ $json.output.datetime }}",
              "type": "string"
            },
            {
              "id": "88667f76-b768-4801-83a4-344c42470bbd",
              "name": "output.location",
              "value": "={{ $json.output.location }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -64
      ],
      "id": "e00fe46a-6ba5-4845-ba66-910694c6c02c",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "744d482d-de7d-4a7f-bdc7-78e7fe8fe0b0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7677542f30a1fd6c4c70a150414e98931044fc4dfd46655e6a9105a3cb936e6"
  },
  "id": "GZTEPi3AWjol18VQ",
  "tags": []
}