19-n8n/workflows/18. 유튜브 자막 AI 요약.json
{
  "name": "18. 유튜브 자막 AI 요약",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1136,
        -192
      ],
      "id": "9af3bd70-ea0a-470d-955f-fcc237463b53",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/faVsWy9VTSNVIhWpR/runs?token=&limit=1&desc=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"videoUrl\": \"https://www.youtube.com/watch?v=lFiaYQzbeyM\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        -192
      ],
      "id": "5c54dfb4-26f8-47e1-944f-231c737bac59",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "16086ddf-a4ae-4f40-8a55-f45c2bff68a0",
              "leftValue": "= {{ $json.data.items[0].defaultDatasetId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -704,
        -192
      ],
      "id": "0d6f7d93-1446-4ebf-82df-b1f3b9be50f6",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.items[0].defaultDatasetId }}/items?token=",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -496,
        -208
      ],
      "id": "b145283c-1fc4-492b-998d-41d0daaf31e4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ef948e9-91b9-43a5-a426-2b7d9a956ee4",
              "name": "content",
              "value": "={{$json.data.map(d => d.text).join(' ')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -976,
        48
      ],
      "id": "ba94ddeb-71c2-48b2-89a4-38def08dd2fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=다음과 같은 유튜브 자막을 일목요연하게 100자 내로 정리해 줘\n\n {{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -784,
        48
      ],
      "id": "42469949-36b0-47b4-b74a-f38f1a51bf89",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ugMNFjqYLZ81em2y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0996CSV7RC",
          "mode": "list",
          "cachedResultName": "소셜"
        },
        "text": "={{ $json.message.content }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -432,
        48
      ],
      "id": "9d4d7888-3362-47cc-b80e-11b9f940ecf0",
      "name": "Send a message",
      "webhookId": "3b5698a9-74bb-4afe-b778-a627c396dbf1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "4Jg4LpwwXgZDWsAf",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "data": {
            "total": 5,
            "count": 1,
            "offset": 0,
            "limit": 1,
            "desc": true,
            "items": [
              {
                "id": "9lnrnCte3r4RvR2ea",
                "actId": "faVsWy9VTSNVIhWpR",
                "status": "SUCCEEDED",
                "startedAt": "2025-08-12T13:36:15.704Z",
                "finishedAt": "2025-08-12T13:36:19.247Z",
                "buildId": "Hzc1AvjacgJvsYhGp",
                "buildNumber": "1.0.19",
                "buildNumberInt": 10000019,
                "meta": {
                  "origin": "WEB"
                },
                "defaultKeyValueStoreId": "qceQ240QXMZrrJAWj",
                "defaultDatasetId": "5jDa9hruVvaEJivYG",
                "defaultRequestQueueId": "n5vfHz9J4O0YXlG7V",
                "usageTotalUsd": 0.0016199508467664324,
                "userId": "D3Zm5hBegjSPNuIbt"
              }
            ]
          }
        }
      }
    ],
    "If": [
      {
        "json": {
          "data": {
            "total": 5,
            "count": 1,
            "offset": 0,
            "limit": 1,
            "desc": true,
            "items": [
              {
                "id": "9lnrnCte3r4RvR2ea",
                "actId": "faVsWy9VTSNVIhWpR",
                "status": "SUCCEEDED",
                "startedAt": "2025-08-12T13:36:15.704Z",
                "finishedAt": "2025-08-12T13:36:19.247Z",
                "buildId": "Hzc1AvjacgJvsYhGp",
                "buildNumber": "1.0.19",
                "buildNumberInt": 10000019,
                "meta": {
                  "origin": "WEB"
                },
                "defaultKeyValueStoreId": "qceQ240QXMZrrJAWj",
                "defaultDatasetId": "5jDa9hruVvaEJivYG",
                "defaultRequestQueueId": "n5vfHz9J4O0YXlG7V",
                "usageTotalUsd": 0.0016199508467664324,
                "userId": "D3Zm5hBegjSPNuIbt"
              }
            ]
          }
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "data": [
            {
              "start": "0.120",
              "dur": "2.000",
              "text": "투자의 최종 판단과 책임은 본인에게"
            },
            {
              "start": "2.120",
              "dur": "1.799",
              "text": "있으며 투자 결과에 따라 손실이"
            },
            {
              "start": "3.919",
              "dur": "3.480",
              "text": "발생할 수 있습니다."
            },
            {
              "start": "7.960",
              "dur": "2.639",
              "text": "안녕하십니까? 업그레이드된 그레이드"
            },
            {
              "start": "10.599",
              "dur": "1.601",
              "text": "크레이딩 대시보드를 가지고"
            },
            {
              "start": "12.200",
              "dur": "2.519",
              "text": "돌아왔습니다. 현재 비트코인부터"
            },
            {
              "start": "14.719",
              "dur": "2.361",
              "text": "시작해서 거의 대부분의 코인들이"
            },
            {
              "start": "17.080",
              "dur": "3.320",
              "text": "올라가서 특정한 박스코을 접기가 참"
            },
            {
              "start": "20.400",
              "dur": "1.400",
              "text": "애매한 상황입니다. 어, 하지만"
            },
            {
              "start": "21.800",
              "dur": "2.160",
              "text": "그중에서 도지코인 같은 경우에는"
            },
            {
              "start": "23.960",
              "dur": "1.920",
              "text": "약간의 박스권을 그리고 있어서 일단"
            },
            {
              "start": "25.880",
              "dur": "3.399",
              "text": "테스트 차원에서 도지콘을 이렇게"
            },
            {
              "start": "29.279",
              "dur": "2.041",
              "text": "400원에서 200원 사이에 박스권을"
            },
            {
              "start": "31.320",
              "dur": "4.480",
              "text": "긋고 25구간으로 진입을 했는데요."
            },
            {
              "start": "35.800",
              "dur": "2.680",
              "text": "그러면서 그리드 트레이딩 D시 보드를"
            },
            {
              "start": "38.480",
              "dur": "2.079",
              "text": "업그레이드를 좀 했습니다. 이제는"
            },
            {
              "start": "40.559",
              "dur": "1.801",
              "text": "빗썸 거래소를 이용하게 되었고요."
            },
            {
              "start": "42.360",
              "dur": "1.840",
              "text": "빗썸 거래소가 업비트보다는 0.04%"
            },
            {
              "start": "44.200",
              "dur": "2.519",
              "text": "04% 국내 최저 수수요를 가지고"
            },
            {
              "start": "46.719",
              "dur": "1.360",
              "text": "있기 때문에 조금 더 유리하다고"
            },
            {
              "start": "48.079",
              "dur": "1.921",
              "text": "생각하고요. 그다음에 설정 메뉴를"
            },
            {
              "start": "50.000",
              "dur": "3.600",
              "text": "통해서 모바일이나 앱에서도 간편하게"
            },
            {
              "start": "53.600",
              "dur": "2.840",
              "text": "그 앱을 제 설정할 수 있도록 진입과"
            },
            {
              "start": "56.440",
              "dur": "2.200",
              "text": "비활성화 활성화 기능을"
            },
            {
              "start": "58.640",
              "dur": "2.360",
              "text": "집어넣었습니다. 암호를 집어넣으면"
            },
            {
              "start": "61.000",
              "dur": "1.760",
              "text": "인증을 통해서 로그인을 할 수가"
            },
            {
              "start": "62.760",
              "dur": "3.480",
              "text": "있고요. 여기 설정된 뭐 거래소,"
            },
            {
              "start": "66.240",
              "dur": "3.600",
              "text": "업비트, 빗썸 그다음에 코인 심볼들이"
            },
            {
              "start": "69.840",
              "dur": "2.319",
              "text": "있고요. 그다음에 박스권의 상단과"
            },
            {
              "start": "72.159",
              "dur": "2.841",
              "text": "하단, 가격 병동 기준, 최고 그리드"
            },
            {
              "start": "75.000",
              "dur": "2.680",
              "text": "수 어 한 그리드당 주문 금액이"
            },
            {
              "start": "77.680",
              "dur": "2.079",
              "text": "있고요. 그다음에 거래서 수술료"
            },
            {
              "start": "79.759",
              "dur": "1.881",
              "text": "디스코드 로깅 활성화 비화성화가"
            },
            {
              "start": "81.640",
              "dur": "2.720",
              "text": "있습니다. 활성화를 체크 해제하면"
            },
            {
              "start": "84.360",
              "dur": "2.480",
              "text": "거래가 돌지 않게 되죠. 그다음에"
            },
            {
              "start": "86.840",
              "dur": "3.239",
              "text": "여기서 다시 활성화를 눌러 주면은"
            },
            {
              "start": "90.079",
              "dur": "2.161",
              "text": "1분 단위로이 트레이딩 봇이 돌고"
            },
            {
              "start": "92.240",
              "dur": "2.559",
              "text": "있으니까요. 1분 후에 다시 어"
            },
            {
              "start": "94.799",
              "dur": "2.041",
              "text": "트레이딩을 돌게 돼 있고요. 그다음에"
            },
            {
              "start": "96.840",
              "dur": "3.440",
              "text": "전에는 그 폴링 방식으로 계속해서"
            },
            {
              "start": "100.280",
              "dur": "2.159",
              "text": "보시 돌고 있었다면 그 커런탭 방식"
            },
            {
              "start": "102.439",
              "dur": "2.481",
              "text": "스케줄 방식을 채용해서 CPU나"
            },
            {
              "start": "104.920",
              "dur": "2.239",
              "text": "메모리에 부담을 줄인 것이 여기"
            },
            {
              "start": "107.159",
              "dur": "1.640",
              "text": "업그레이드의 핵심이라고 할 수"
            },
            {
              "start": "108.799",
              "dur": "3.401",
              "text": "있겠습니다. 그래서 뷰썸 거래소 지원"
            },
            {
              "start": "112.200",
              "dur": "2.720",
              "text": "그다음에 스케줄 프로그램으로 변경"
            },
            {
              "start": "114.920",
              "dur": "2.479",
              "text": "그다음에 설정을 통해서 어 활성화"
            },
            {
              "start": "117.399",
              "dur": "2.080",
              "text": "비활성 트레이딩을 처음부터 다시"
            },
            {
              "start": "119.479",
              "dur": "1.521",
              "text": "시작하는 것도 가능하게 되어"
            },
            {
              "start": "121.000",
              "dur": "2.320",
              "text": "있습니다. 열분 기다리면 이게 제"
            },
            {
              "start": "123.320",
              "dur": "2.439",
              "text": "구동 될 것입니다.네 그래서 다시"
            },
            {
              "start": "125.759",
              "dur": "2.720",
              "text": "재구동됐고요. 지금 매수가 세 번"
            },
            {
              "start": "128.479",
              "dur": "2.280",
              "text": "돼서 트레이딩 대시보드에 3회 3만"
            },
            {
              "start": "130.759",
              "dur": "1.681",
              "text": "원 정도가 포지션이 지금 들어갔고"
            },
            {
              "start": "132.440",
              "dur": "1.720",
              "text": "매도는 아직 없는 상태입니다."
            },
            {
              "start": "134.160",
              "dur": "2.079",
              "text": "단기적으로 약간 하강을 했는데요.이"
            },
            {
              "start": "136.239",
              "dur": "2.601",
              "text": "이 박스권에서 계속 왔다 갔다 하리라"
            },
            {
              "start": "138.840",
              "dur": "2.399",
              "text": "생각이 듭니다. 이쪽에서 여기까지"
            },
            {
              "start": "141.239",
              "dur": "2.801",
              "text": "박스권을 가질 거 같고 이게 굉장히"
            },
            {
              "start": "144.040",
              "dur": "2.120",
              "text": "전기간에 거쳐서 하단이 돼 있기"
            },
            {
              "start": "146.160",
              "dur": "2.200",
              "text": "때문에 아마 이쪽에서 계속 움직이다가"
            },
            {
              "start": "148.360",
              "dur": "1.560",
              "text": "돌파왔던지 아니면 이쪽에서 머물다"
            },
            {
              "start": "149.920",
              "dur": "1.840",
              "text": "지지를 받고 갈 것 같거든요. 누구도"
            },
            {
              "start": "151.760",
              "dur": "2.240",
              "text": "예상을 할 수 없지만 박스권에서"
            },
            {
              "start": "154.000",
              "dur": "2.640",
              "text": "움직일 수 있는 지금 상태다. RSI"
            },
            {
              "start": "156.640",
              "dur": "1.840",
              "text": "지표를 보면은 상단을 맞고 지금"
            },
            {
              "start": "158.480",
              "dur": "2.360",
              "text": "흘러내리고 있는데 조금 내려가면 다시"
            },
            {
              "start": "160.840",
              "dur": "2.200",
              "text": "오르지 않을까 예상이 듭니다. 그리고"
            },
            {
              "start": "163.040",
              "dur": "2.800",
              "text": "설정 같은 경우에 보면은 트레이딩을"
            },
            {
              "start": "165.840",
              "dur": "2.600",
              "text": "재시작하면 전체 DV라든지 설정을"
            },
            {
              "start": "168.440",
              "dur": "2.360",
              "text": "지우고 처음부터 다시 하게 되고요."
            },
            {
              "start": "170.800",
              "dur": "2.680",
              "text": "그다음에 진입되어 있는 어 금액이"
            },
            {
              "start": "173.480",
              "dur": "3.119",
              "text": "있다면 그냥 핸드폰이나 그 거래소"
            },
            {
              "start": "176.599",
              "dur": "1.920",
              "text": "가서 청산을 하고 어 원스톱으로 다"
            },
            {
              "start": "178.519",
              "dur": "2.121",
              "text": "설정이 되어 있다라고 보시면"
            },
            {
              "start": "180.640",
              "dur": "2.239",
              "text": "되겠습니다. 간편하게 이제 서버를"
            },
            {
              "start": "182.879",
              "dur": "2.681",
              "text": "들락달락하지 않고이 설정으로 모든"
            },
            {
              "start": "185.560",
              "dur": "2.599",
              "text": "거래를 모니터링하고 설정할 수 있도록"
            },
            {
              "start": "188.159",
              "dur": "2.160",
              "text": "시스템을 구축해 놨습니다. 그래서"
            },
            {
              "start": "190.319",
              "dur": "1.401",
              "text": "이렇게 업그레이드 됐다는 소식을"
            },
            {
              "start": "191.720",
              "dur": "2.040",
              "text": "전하면서이 트레이딩 화면을 함께"
            },
            {
              "start": "193.760",
              "dur": "3.199",
              "text": "공유해 보실 수 있겠고요. 음,이"
            },
            {
              "start": "196.959",
              "dur": "1.481",
              "text": "계정은 남겨 놓겠습니다. 그래서"
            },
            {
              "start": "198.440",
              "dur": "2.560",
              "text": "여러분도 함께 어, 볼 수 있도록 해"
            },
            {
              "start": "201.000",
              "dur": "2.799",
              "text": "놓고 여기서 제가 트렌딩하는 모습을"
            },
            {
              "start": "203.799",
              "dur": "2.961",
              "text": "계속해서 함께 보실 수 있겠습니다."
            },
            {
              "start": "206.760",
              "dur": "2.520",
              "text": "지금 유료 강의를 준비하고 있고 또"
            },
            {
              "start": "209.280",
              "dur": "1.800",
              "text": "오픈 채팅방도 열어져 있습니다."
            },
            {
              "start": "211.080",
              "dur": "3.480",
              "text": "여기서 제가 웨나 좋은 자료 또 유료"
            },
            {
              "start": "214.560",
              "dur": "3.120",
              "text": "강의도 함께 공유하면서 여러분에게"
            },
            {
              "start": "217.680",
              "dur": "2.000",
              "text": "다가갈 예정이니 오픈 채팅방도 함께"
            },
            {
              "start": "219.680",
              "dur": "2.520",
              "text": "기억해 주시면 감사하겠습니다. 그러면"
            },
            {
              "start": "222.200",
              "dur": "1.599",
              "text": "다음엔 더 유익한 자료를 가지고"
            },
            {
              "start": "223.799",
              "dur": "2.080",
              "text": "돌아오겠습니다. 이상 시청해 주셔서"
            },
            {
              "start": "225.879",
              "dur": "2.280",
              "text": "감사합니다."
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e0490495-361a-4bf0-a3e7-b46b46842711",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7677542f30a1fd6c4c70a150414e98931044fc4dfd46655e6a9105a3cb936e6"
  },
  "id": "NYYFYF2rCoZlJ3sB",
  "tags": []
}