19-n8n/workflows/3. 재무분석.json
{
  "name": "3. 재무분석",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ],
      "id": "b7a7dd89-f403-4992-b21c-3d174ebea15a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        -144
      ],
      "id": "2cc3204d-98b9-408d-8e31-305781b0ad54",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EvLV2xrB6rJ4xdOsUV9hUwuw-jbddYSaLzgGjl-FiOE",
          "mode": "list",
          "cachedResultName": "2-기업분석",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EvLV2xrB6rJ4xdOsUV9hUwuw-jbddYSaLzgGjl-FiOE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EvLV2xrB6rJ4xdOsUV9hUwuw-jbddYSaLzgGjl-FiOE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -176,
        0
      ],
      "id": "5190e45b-cbe0-4972-9769-25cd2e40e4fa",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "crQhuch7dXX3QwGD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Get the financial statement data of the company {{ $json.기업명 || $json['기업명'] || '기업명을 찾을 수 없음' }} for the 4th quarter of 2023 and print it out as below.\nThe output must be in JSON format.\ndo not include Approximately word.\nchange \"billion\" word to \"B\"\ndo not include \"units\" word.\nFormat:\n{\n  \"Total sales\": \"123,123\",\n  \"Net income\": \"1.1B\",\n  \"Total Revenue\": \"12.3B\",\n  \"Operating Costs\": \"12.3B\",\n  \"R&D\": \"1.12B\",\n  \"Earnings per share\": \"0.12\"\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a global financial expert and stock trader."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        -80
      ],
      "id": "00b6c1f2-a540-4009-815d-22661b1f195f",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        224
      ],
      "id": "162db583-c82a-47de-a293-c75324412cce",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ugMNFjqYLZ81em2y",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        336
      ],
      "id": "e9093641-f15f-4272-935b-137fc7e636ce",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "qINrMloEKwUZ22u0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        208,
        160
      ],
      "id": "7bfeabd4-c937-4b6c-af64-5457ec4602a7",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "yUTzhbI2A2mHeZiD",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Total sales\": \"123,123\",\n  \"Net income\": \"1.1B\",\n  \"Total Revenue\": \"12.3B\",\n  \"Operating Costs\": \"12.3B\",\n  \"R&D\": \"1.12B\",\n  \"Earnings per share\": \"0.12\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        320,
        144
      ],
      "id": "505a6cec-286f-483c-9dc5-6548d54e5416",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EvLV2xrB6rJ4xdOsUV9hUwuw-jbddYSaLzgGjl-FiOE",
          "mode": "list",
          "cachedResultName": "2-기업분석",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EvLV2xrB6rJ4xdOsUV9hUwuw-jbddYSaLzgGjl-FiOE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EvLV2xrB6rJ4xdOsUV9hUwuw-jbddYSaLzgGjl-FiOE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "총매출": "={{ $json.output['Total sales'] }}",
            "기업명": "={{ $('Get row(s) in sheet').item.json['기업명'] }}",
            "순수익": "={{ $json.output['Net income'] }}",
            "매출총이익": "={{ $json.output['Total Revenue'] }}",
            "운영비용": "={{ $json.output['Operating Costs'] }}",
            "연구개발비": "={{ $json.output['R&D'] }}",
            "주당순수익": "={{ $json.output['Earnings per share'] }}"
          },
          "matchingColumns": [
            "기업명"
          ],
          "schema": [
            {
              "id": "기업명",
              "displayName": "기업명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "총매출",
              "displayName": "총매출",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "순수익",
              "displayName": "순수익",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "매출총이익",
              "displayName": "매출총이익",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "운영비용",
              "displayName": "운영비용",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "연구개발비",
              "displayName": "연구개발비",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "주당순수익",
              "displayName": "주당순수익",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "분석결과",
              "displayName": "분석결과",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        448,
        -96
      ],
      "id": "c355061d-5456-43ad-b33f-f9562fb9e081",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "crQhuch7dXX3QwGD",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3a985d46-078f-44f3-adb0-2d87399b89eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7677542f30a1fd6c4c70a150414e98931044fc4dfd46655e6a9105a3cb936e6"
  },
  "id": "PE4SvVuCOdLgRGSA",
  "tags": []
}