19-n8n/workflows/4. 구글캘린더 연동.json
{
  "name": "4. 구글캘린더 연동",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -80
      ],
      "id": "3e069a22-b5ee-42f9-a47a-ea363de1a71a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "## 구글 캘린더 연동\n\n1. 1분마다 캘린더 체크"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -224
      ],
      "id": "b8e828e9-53e4-43d0-b79b-6a5538b08ee9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "nissisoft21@gmail.com",
          "mode": "list",
          "cachedResultName": "nissisoft21@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -32,
        -80
      ],
      "id": "224d9635-8e69-4eaf-8415-476c2bbf31a2",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FL1FAKyW0HqllDVR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oNppzfFgLKstfIReq5OPwh6WueIDsv-SD_uaaWDaix8",
          "mode": "list",
          "cachedResultName": "3-구글캘린더",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNppzfFgLKstfIReq5OPwh6WueIDsv-SD_uaaWDaix8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNppzfFgLKstfIReq5OPwh6WueIDsv-SD_uaaWDaix8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "이벤트 ID": "={{ $json.id }}",
            "제목": "={{ $json.summary }}",
            "설명": "={{ $json.description }}",
            "시작 시간": "={{ $json.start.dateTime }}",
            "종료 시간": "={{ $json.end.dateTime }}",
            "장소": "={{ $json.location }}",
            "참석자": "={{ $json.attendees[1].email }}",
            "마지막 업데이트": "={{ $json.updated }}"
          },
          "matchingColumns": [
            "이벤트 ID"
          ],
          "schema": [
            {
              "id": "제목",
              "displayName": "제목",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "설명",
              "displayName": "설명",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "시작 시간",
              "displayName": "시작 시간",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "종료 시간",
              "displayName": "종료 시간",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "장소",
              "displayName": "장소",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "참석자",
              "displayName": "참석자",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "이벤트 ID",
              "displayName": "이벤트 ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "마지막 업데이트",
              "displayName": "마지막 업데이트",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        176,
        -80
      ],
      "id": "31482cd2-9447-49d3-a047-0ec50f614728",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "crQhuch7dXX3QwGD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1oNppzfFgLKstfIReq5OPwh6WueIDsv-SD_uaaWDaix8",
          "mode": "list",
          "cachedResultName": "3-구글캘린더",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNppzfFgLKstfIReq5OPwh6WueIDsv-SD_uaaWDaix8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2016508283,
          "mode": "list",
          "cachedResultName": "시트2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oNppzfFgLKstfIReq5OPwh6WueIDsv-SD_uaaWDaix8/edit#gid=2016508283"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -160,
        144
      ],
      "id": "9acbd583-b9e4-4c36-88cc-c0861a10e000",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "crQhuch7dXX3QwGD",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "nissisoft21@gmail.com",
          "mode": "list",
          "cachedResultName": "nissisoft21@gmail.com"
        },
        "start": "={{ $json['시작 시간'] }}",
        "end": "={{ $json['종료 시간'] }}",
        "additionalFields": {
          "description": "={{ $json['설명'] || \"\" }}",
          "location": "={{ $json['장소'] || \"\" }}",
          "summary": "={{ $json['제목'] || \"제목없음\" }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        32,
        144
      ],
      "id": "f9e64067-ee71-4258-92d3-8e538bc76526",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FL1FAKyW0HqllDVR",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "슬랙 or 디스코드 or 메일\n텔레그램 등으로 알람"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        384,
        -96
      ],
      "id": "61f17f30-0a23-43c8-8456-0c7d20cc763c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "8월 18일 주식회사 종달새 상장일 일정등록\n\n이메일 -> 분석 -> 일정등록\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        112
      ],
      "id": "5617a351-1787-4ce3-b217-6e33c4df73fb",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "da5750aa-ac46-47dd-98b2-56a9ad85ca97",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b7677542f30a1fd6c4c70a150414e98931044fc4dfd46655e6a9105a3cb936e6"
  },
  "id": "0Y3lAFibD71LKn47",
  "tags": []
}